 {% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form action="{{ path('app_login') }}" method="post">
            <h1>Connexion</h1>
                
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                    <label class="form-label" for="form1Example13">Email</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="password" name="_password" />
                    <label class="form-label" for="form1Example23">Mot de passe</label>
                </div>

                
                <!-- Submit button -->
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Connexion</button>
        
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}

