{% extends 'front/movie/list_template.html.twig' %}

{% block nav_movie_list %}active
{% endblock %}

{% block title %}La liste des films
{% endblock %}

{% block subtitle %}
	<h2 class="text-muted fw-bold mb-4">Les films et séries/Résultats de recherche</h2>
{% endblock %}

