{% extends "base.html.twig" %}

{% block title %}
	Page non trouvée
{% endblock %}

{% block body %}
div
	<h1>Page non trouvée</h1>
	<p>La page que vous cherchez n'a pas été trouvée</p>
    <p>Code de l'erreur : {{ status_code }}</p>
    <p>Message de l'erreur : {{ status_text }}</p>
	<p><a href="{{ path('main_home')}}">Retourner à la page d'accueil</a></p>
{% endblock %}
