{% extends 'back/nav.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %} Nouveau film/série {% endblock %}

{% block body %}
	<div class="container pt-5">
		<div class="row mb-2">
			<div class="col">
				<h1>Créer un film/série</h1>
                
				{{ include('back/movie/_form.html.twig') }}

				<a href="{{ path('app_back_movie_index') }}" class="btn btn-primary">Retour à la liste</a>
			</div>
		</div>
	</div>
{% endblock %}

