{% extends 'back/nav.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Créer un utilisateur</h1>

    {{ include('back/user/_form.html.twig') }}

    <a href="{{ path('app_back_user_index') }}">Retour à la liste</a>
{% endblock %}
