{% extends "base.html.twig" %}

{# La sous-nav #}
{% block subnav %}

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_back_movie_index') }}">Films</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_back_user_index') }}">Utilisateurs</a>
    </li>
</ul>

{% endblock %}

{% block parent_body %}
<div class="container">
    <div class="row">
        <div class="col">{% block body %}{% endblock %}</div>
    </div>
</div>
{% endblock %}
